body{
    background-color: #f2ecf0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*------------------------------------------------
Estilos para el contenedor grid
----------------------------------------------------*/

.contenedor-grid {
    display: grid;

    text-align: center;
    
    grid-template-columns: auto ;
    gap: 10px;
  
  }

.encabezado{
    display: grid;

    grid-template-columns: auto 85% auto;
    grid-template-areas: "icono menu login";
    justify-content: space-around;

    box-shadow: 0 2px 0px #17335338;
}

 /*----------------------------------------------------
    imagen 
 ----------------------------------------------------*/

.encabezado img{
    justify-content: center;
    width: 100px;   
}

.icono{
    grid-area: icono;
}
/*----------------------------------------------------
    barra de menu
----------------------------------------------------*/
.menu {
    display:flex;   
    justify-content: space-around;
    align-items: center;    
    margin: 2%;
    grid-area: menu;
}

.item-menu{
    font-size: 110%;  
    margin: 40px;
    text-decoration: none;
    color:  #173353;
    text-align: center;
    margin: 1px;
    
}

.menu :hover {
    border-radius: 10px;
    transform:scale(1.2);
}

.pag-actual{
    color: #075C7B;
    font-weight: bold;
    border-radius: 10px;
    font-size: 130%;
}

/*boton login*/

.login-button {
    background-color: #46a9d4; 
    color: white; 
    padding: 18px 20px; 
    border: none;
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    float: right;
    text-align: center;
    align-items: center;
    grid-area: login;
 
}

button {
    background-color: #4894b5; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    cursor: pointer; 
}

button:hover {
    background-color: #0056b3; 
}


/*footer*/
.pie{
    color: #173353;
    margin: 30px;
    text-align: left;
    padding-top: 3%;
}


/* clases necesarias para el menu en pantallas pequeñas*/
/* 
#botonHamburguesa {
    display: none; 
}  
Si descomento esta linea desaparece el boton en las pantallas grandes, pero tambien en la chica.
*/


.menuHamburguesa{
    display: none;
    grid-area: hamburguesa; 
}

.barra {
    width: 30px;
    height: 3px;
    background-color: #173353;
    margin: 4px 0;
} 



/* Estilos del menu para pantallas medianas */
@media (max-width: 1200px){
    .encabezado{
        display: grid;
        grid-template: 50% 50% /auto auto  ;
        grid-template-areas:"icono login"
                            "menu menu ";
        justify-content: space-around;
    
        box-shadow: 0 2px 0px #17335338;
    }
    
}

/* Estilos del menu para pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    /* Muestra el botón de hamburguesa en lugar del menú */
    #botonHamburguesa {
        display: center;
        margin: 50%;
        position: relative;
        cursor: pointer;
    }

    .encabezado{
        display: grid;
    
        grid-template: auto auto auto ;
        grid-template-areas:"hamburguesa icono login";
        justify-content: space-evenly;
    
        box-shadow: 0 2px 0px #17335338;
    }

    
}