.contenedor-libros{
    
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    row-gap: 5%;
    padding: 1%;
}

.libro{
    padding: 2%;
}

.libro img{
    border-radius: 5px;
    
}

.libro figcaption{
    color: #173353;
}

/*estilos para el buscador*/

input[type=search] {
    width: 70%;
    height: 10%;
    border: 2px solid #cecdea;
    border-radius: 20px;
    margin: 2%;
    padding: 1%;
    font-size: 80%;
    background-color: #F2ECF0;

  }
  

.libro :hover{
    transform: scale(1.01);
}

