
/*----------------------------------------------------
Estilos para cuestionario
----------------------------------------------------*/
.item-cuest{
    margin: 20px 20px; 
}

.pie{
    color: #2364af;
    margin: 30px;
}


